
:root {
    --blue: #05386B;
    --deepgreen: #379683;
    --brightgreen: #5CDB95;
    --lightgreen: #8EE4AF;
    --offwhite: #EDF5E1;
}

html {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    font-size: 10px;

}

body {
    width: 100vw;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;

}

p, li, a, h2 {
    font-weight: 100;
    color: var(--offwhite);
}

.section1 {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--blue);
    display: flex;
    align-items: center;
}

#nav {
    padding-left: 40%;
    font-size: 18px;
}

.section1 img {
    max-height: 12rem;
    padding: 2rem 0 2rem 20rem;
}

li, a {
    display: inline-block;
    padding-right: 3rem;
    text-decoration: none;
    color: var(--offwhite)
}

#USwrapper {
    display: flex;
    padding: 10vh 20vw 10vh 20vw;
    background-color: var(--blue);
    overflow: hidden;
}

#US {
    margin: 0;
    width: 100%;
    background-color: var(--blue);
    align-items: center;
    font-size: 1rem;
    padding-right: 5rem;
}

#US h1 {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 2rem;
    color: var(--offwhite);

}

#US p {
    font-size: 18px;
    color: var(--offwhite);
}

#US button {
    display: block;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--brightgreen);
    margin-top: 2rem;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 5%;
    border: none;
    color: var(--blue);
    cursor: pointer;
}

#USwrapper img {
    width: 40vw;
    height: 27vw;
}

#TANKS {
    width: 100%;
    text-align: center;
    background-color: var(--offwhite);
    padding: 10vh 0 10vh 0;
}

#gridwrapper {
    display: flex;
    justify-content: center;
}


#TANKS h1 {
    color: var(--blue);
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 6rem;

}


#tankwrapper {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(2, 220px);
    grid-column-gap: 4rem;
    overflow: hidden;
}

.gridimg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 5px solid var(--brightgreen);
    border-radius: 10%;
}

#1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

#2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

#3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

#4 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.gridp {
    color: var(--blue);
    font-size: 2rem;
    padding: 2rem 0 0 0;
}

#Quote {
    width: 100%;
    background-color: var(--lightgreen);
    padding: 20vh 20vw 20vh 20vw;
    color: var(--blue);
}

q {
    font-size: 3.6rem;
    color: var(--blue);
    line-height: 60px;
}

#Quote p {
    font-weight: bold;
    text-align: right;
    font-size: 2.5rem;
    color: var(--blue);
}

#signwrapper {
    width: 100%;
    background-color: var(--offwhite);
    padding: 10vh 10vw 10vh 10vw;

}

#sign {
    width: 100%;
    background-color: var(--deepgreen);
    padding: 10vh 10vw 10vh 10vw;
    border-radius: 3%;
    display: flex;
    justify-content: center;
}

#h2pwrapper {
    width: 40%;
    height: auto;
    border: 1px solid black;
    text-align: left;

}

h2.wrappertext {
    font-size: 3rem;
}

p.wrappertext {
    font-size: 2rem;
}

#sign button {
    font-size: 18px;
    font-weight: bold;
    background-color: var(--brightgreen);
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 5%;
    border: none;
    color: var(--blue);
    margin-left: 10rem;
    cursor: pointer;
}

footer {
    background-color: var(--blue);
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 100;
    color: var(--offwhite);
    font-size: 1.5rem;
    padding-right: 6rem;
}
